@page
@model OdeToFood.Pages.Restaurants.IndexModel
@{
}
 
<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-dark">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-info"
                   asp-page="./Detail"
                   asp-route-restaurantId="@restaurant.Id">Details</a>
            </td>
            <td>
                <a class="btn btn-info"
                   asp-page="./Edit"
                   asp-route-restaurantId="@restaurant.Id">Edit</a>
            </td>
        </tr>
    }
</table>
<a asp-page="./Edit" class="btn btn-primary">Add New Restaurant</a>
@section footer {
    <div>@Model.Message</div>
}
